@model BCITGO_FINAL.Models.TripBooking

@{
    ViewData["Title"] = "Bookings"; //Change the title of the page - ADDED
}

<h1>Bookings</h1> <!--Change the title of the page - ADDED-->

<h4>Edit Bookings</h4> <!--Change the title of the page - ADDED-->
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookingID" />
            <div class="form-group">
                <label asp-for="TripPostingID" class="control-label"></label>
                <input asp-for="TripPostingID" class="form-control" />
                <span asp-validation-for="TripPostingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatsBook" class="control-label"></label>
                <input asp-for="SeatsBook" class="form-control" />
                <span asp-validation-for="SeatsBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingStatus" class="control-label"></label>
                <input asp-for="BookingStatus" class="form-control" />
                <span asp-validation-for="BookingStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
